@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


* {
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(to right, green, red);
    font-family: "sans-serif";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
}

.box {
    background-color: rgb(255, 1, 1);   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 400px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 6px black;
    transform: translateX(250%);
    transition: transform 0.4s ease;

}


.box:nth-last-of-type(even){
    transform: translateX(-250%);
    background-color: green;
}

.box.show {
    transform: translateX(0);
}

.box h2, h1 {
    font-size: 45px;
    color: #fff;
}