@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}


body {
    background-color: #6c477c;
    color: #fff;
    font-family:  "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}


.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:  center;
    margin: 30px 50px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}


@media (max-width: 580px) {
    body{
        flex-direction: column;
    }
    
}
