@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    box-sizing: border-box;
}

body {
    font-family: "sans-serif";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
#container{
    display: flex;
    width: 90vw;
}

.pannel {
    /* background-size: auto 100%; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: rgb(64, 246, 64);
    cursor: pointer;
    flex: 0.5;
    text-align: center;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.pannel h3 {
    font-size: 40px;
    position: absolute;
    font-weight: 900;
    bottom: 10px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.pannel.active {
    flex: 5;
}

.pannel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}


@media (max-width:480px) {
    #container {
        width: 100vw;
    }
    .pannel:nth-of-type(5),.pannel:nth-of-type(6){
        display: none;
    }
}